body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
}

header {
    background-color: white;
    color: white;
    padding: 15px 20px;
    position: sticky; 
    top: 0;           
    z-index: 1000;  

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

header img {
    height: 50px;
  }

h1 {
    color: white;
}

nav a {
    color: f46106;
    margin-right: 15px;
    text-decoration: none;
  }

main {
    padding: 20px;
  }

section {
    height: 600px; 
    border-bottom: 1px solid #ccc;
  }

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.site-title {
  font-size: 24px;
  font-weight: bold;
  color: orange;
  font-family: Georgia, 'Times New Roman', serif;
}
